:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;

  --accent-color: #2196f3;

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;

  --primary-btn-bg-color: #f5f4fa;

  --primary-logo-color: #2196f3;
  --secondary-logo-color: #000000;
  --secondary-logo-footer-color: #ffffff;

  --color-footer-mt: rgba(255, 255, 255, 0.6);

  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
  --third-family: 'Oleo Script', sans-serif;
}

body {
  font-family: var(--font-family);

  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p {
  color: var(--second-text-color);
}
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;

  color: var(--primary-logo-color);
}

.studio {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;

  color: var(--secondary-logo-color);
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.19;

  color: var(--primary-text-color);
}

.contact a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.list {
  list-style: none;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  text-align: center;

  color: var(--third-text-color);
}

.list-btn,
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;

  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  cursor: pointer;
  color: var(--primary-text-color);

  background-color: var(--primary-btn-bg-color);
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--primary-text-color);
}
.team-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 3%;
  text-align: center;

  color: var(--primary-text-color);
}
.team-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 3%;
  text-align: center;

  color: var(--second-text-color);
}

.list-btn:hover,
.list-btn:focus,
.hero-btn:hover,
.hero-btn:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
}

.link:hover,
.link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--third-text-color);
}
/* .footer-mail,
.footer-tell  */

.footer-mail,
.footer-tell {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-footer-mt);
}
.footer .studio {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;

  color: var(--secondary-logo-footer-color);
}

address {
  font-style: normal;
}
